.jumbotron{
  text-align: center;
  background-image: url(../img/images.jpg);
  background-repeat: repeat-x;
  background-size: contain;
  color:#d9dbda;
}
.container-center{
text-align: center;
background-color: black;
border-radius: 20px;
padding: 20px;
color: white;
}
body{
  background-image: url(../img/dice.png);
  background-attachment: fixed;
}
.inner-right{
  padding-top:50px;
  padding-right: 140px;
  padding-left: 140px;
  padding-bottom: 50px;
  margin: 30px;
  float:right;
  background-color: black;
  opacity:0.9;
}
.inner-left{
  padding-top:50px;
  padding-right: 140px;
  padding-left: 140px;
  padding-bottom: 50px;
  margin: 30px;
  float:left;
  background-color: black;
  opacity:0.9;
}
button{
  padding-left: 30px;
  padding-right: 30px;
}
.container-output{
  background-color: black;
}
.container-right{
  float:right;
  background-color: black;
  opacity: 0.98;
  padding-top:40px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 40px;
  margin: 30px;
}
.container-left{
  float:left;
  background-color: black;
  opacity: 0.98;
  padding-top:40px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 40px;
  margin: 30px;
}
